<a href="https://colab.research.google.com/github/theaichampion/python_tutorials/blob/main/python_tuple_lesson.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python Lesson: Tuple

In this lesson, you'll learn:

- What is a Tuple?
- How to create and use a Tuple
- Tuple operations
- Practice Exercises

## What is a Tuple?
- A tuple is an **ordered** collection of elements.
- Tuples are **immutable** (cannot be changed after creation).
- Tuples can contain **duplicates**.
- Useful when you need a fixed collection of items.

### Creating a Tuple

In [ ]:
my_tuple = (1, 2, 3,'a', 4, 5)
print("my_tuple:", my_tuple)

my_tuple: (1, 2, 3, 'a', 4, 5)

### Accessing Tuple Elements

In [ ]:
print("First element:", my_tuple[0])
print("Last element:", my_tuple[-1])

First element: 1
Last element: 5

### Tuple with Different Data Types

In [ ]:
mixed_tuple = (1, "apple", 3.14, True)
print("mixed_tuple:", mixed_tuple)

mixed_tuple: (1, 'apple', 3.14, True)

### Tuple Unpacking

In [ ]:
a, b, c = (10, 20, 30)
print(a)
print(b)
print(c)

10
20
30

In [ ]:
a, b, c = [10, 20, 30]
print(a)
print(b)
print(c)

10
20
30

In [ ]:
a, b, c = {100, 20, 3} # set not dict
print(a)
print(b)
print(c)

3
100
20

### Tuple Length

In [ ]:
print("Length of my_tuple:", len(my_tuple))

Length of my_tuple: 6

### Tuple Slicing

In [ ]:
print("Slice of my_tuple:", my_tuple[1:4]) # indexing

In [ ]:
# tupl=(1, 2, ) , functions

In [ ]:
# {} used for set , dict, f-string

In [ ]:
# f"print {name}"

### Nested Tuple

In [ ]:
nested_tuple = ((1, 2), (3, 4), (5, 6))
print("nested_tuple:", nested_tuple)
print("First pair:", nested_tuple[0])

nested_tuple: ((1, 2), (3, 4), (5, 6))
First pair: (1, 2)

In [ ]:
len(nested_tuple)

3

In [ ]:
len(nested_tuple[0])

2

### Why use Tuple?
- Tuples are faster than lists.
- Useful as keys in dictionaries.
- Used when data should not change (e.g., coordinates, RGB colors).

In [ ]:
var = 1, 2, 3

## Exercises

### 1️⃣ Create a tuple with 5 numbers

In [ ]:
# Your code here
my_tuple = (1,2,3,4,5)

### 2️⃣ Print the second and fourth elements of the tuple

In [ ]:
# Your code here
#print(my_tuple[1,2])
print(my_tuple[1],my_tuple[3])

2 4

### 3️⃣ Create a tuple with different data types (number, string, boolean)

In [ ]:
# Your code here
my_tuple_MIXED =(1,"potato", True)

### 4️⃣ Unpack a tuple into three variables

In [ ]:
# Your code here
a,b,c = my_tuple_MIXED

### 5️⃣ Find the length of a tuple

In [ ]:
# Your code here
len(my_tuple_MIXED)

### 6️⃣ Slice a tuple to get the middle three elements

In [ ]:
# Your code here
my_tuple_longer =(1,2,'apple','grapes','orange',5,6,6.7)
my_tuple_longer[3:6]

('grapes', 'orange', 5)

### 7️⃣ Create a nested tuple and access its second inner tuple

In [ ]:
# Your code here
my_tuple_nested =((1,2),('a','b','c'),('star wars','battlestar galactica','star trek'))
print(my_tuple_nested[1])

('a', 'b', 'c')

### 8️⃣ Try to modify an element in the tuple — what happens?

In [ ]:
# Your code here
my_tuple_trymodify = (1,2,3,4,5,6)
#my_tuple_trymodify.update
#tuples are immutable and can't be modified

AttributeError: 'tuple' object has no attribute 'update'

### 9️⃣ Check if a value exists in the tuple

In [ ]:
# Your code here
my_tuple_valueexists = (1,2,3,4,5,6)
print(8 in my_tuple_valueexists)
#print(my_tuple_valueexists.index(7))
#

False

### 🔟 Convert a list to a tuple and print it

In [ ]:
# Your code here

my_tuple_convert2list = [1,2,3,4,5,6]
my_tuple_convert2list = tuple(my_tuple_convert2list)
print(my_tuple_convert2list)

(1, 2, 3, 4, 5, 6)