<a href="https://colab.research.google.com/github/theaichampion/python_tutorials/blob/main/python_set_lesson_v2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python Lesson: Set

In this lesson, you'll learn:

- What is a Set?
- How to create and modify a Set
- Useful Set operations
- Practice Exercises

## What is a Set?
- A set is an unordered collection of unique elements.
- Sets do not allow duplicates.
- Sets are mutable (you can add or remove elements).
- Sets are useful for operations like union, intersection, difference.

### Creating a Set

In [ ]:
my_set = {1, 2, 1, 3, 4, 5}
print("my_set:", my_set)

my_set: {1, 2, 3, 4, 5}

In [ ]:
my_set = {1, 2, -1, 3, 4, 5}
print("my_set:", my_set)

my_set: {1, 2, 3, 4, 5, -1}

In [ ]:
my_set = {1, 2, -1, 3, 4, 5, 'a'}
print("my_set:", my_set)

my_set: {1, 2, 3, 4, 5, 'a', -1}

In [ ]:
my_set = {1, 2, -1, 3, True, 5}
print("my_set:", my_set)

my_set: {1, 2, 3, 5, -1}

In [ ]:
my_set = {1, 2, -1, 3, 4, 5, False, 0}
print("my_set:", my_set)

my_set: {False, 1, 2, 3, 4, 5, -1}

### Creating a Set from a List (removes duplicates automatically)

In [ ]:
my_list = [1, 2, 2, 3, 4, 4, 5]
my_set_from_list = set(my_list)
print("my_set_from_list:", my_set_from_list)

my_set_from_list: {1, 2, 3, 4, 5}

### Adding elements to a Set

In [ ]:
my_set.add(6)
print("After adding 6:", my_set)

After adding 6: {False, 1, 2, 3, 4, 5, 6, -1}

### Removing elements from a Set

In [ ]:
my_set.remove(3)
print("After removing 3:", my_set)

In [ ]:
# str , set, list, dict, tuple are sequance str.   dict.
# var.type() => type(var)

### Discarding elements (no error if element not found)

In [ ]:
my_set.discard(10)  # No error

In [ ]:
my_set.remove(10)
print("After removing 3:", my_set)

KeyError: 10

### Clearing a Set

In [ ]:
empty_set = set()
empty_set.add(1)
empty_set.clear()
print("empty_set after clear:", empty_set)

## Set Operations

### Union

In [ ]:
set_a = {1, 2, 3, 4}
set_b = {3, 4, 5, 6}
print("Union:", set_a.union(set_b))

Union: {1, 2, 3, 4, 5, 6}

### Intersection

In [ ]:
print("Intersection:", set_a.intersection(set_b))

Intersection: {3, 4}

### Difference (A - B)

In [ ]:
print("Difference (A - B):", set_a.difference(set_b))

Difference (A - B): {1, 2}

### Symmetric Difference

In [ ]:
print("Symmetric Difference:", set_a.symmetric_difference(set_b))

Symmetric Difference: {1, 2, 5, 6}

### Checking Membership

In [ ]:
print("Is 2 in set_a?", 2 in set_a)
print("Is 5 in set_a?", 5 in set_a)

Is 2 in set_a? True
Is 5 in set_a? False

## Exercises

### 1️⃣ Create a set with at least 5 numbers

In [ ]:
# Your code here
my_set={1,2,3,4,5}

### 2️⃣ Add a new number to the set

In [ ]:
# Your code here
my_set.add(6)

### 3️⃣ Remove a number from the set

In [ ]:
# Your code here
my_set.remove(4)

### 4️⃣ Create two sets of numbers and print their union

In [ ]:
# Your code here
my_set1 = {1,2,3,5,6}
my_set2 = {7,8,9,10,11}
print("Union:", my_set1.union(my_set2))

Union: {1, 2, 3, 5, 6, 7, 8, 9, 10, 11}

### 5️⃣ Create two sets of numbers and print their intersection

In [ ]:
# Your code here
my_set3 = {1,2,3,5,6,7}
my_set4 = {7,8,9,10,11}

print("Intersection:", my_set3.intersection(my_set4))

Intersection: {7}

### 6️⃣ Create two sets of numbers and print their difference

In [ ]:
# Your code here
my_set3 = {1,2,3,5,6,7}
my_set4 = {7,8,9,10,11}

print("Difference (my_set3- myset4):", my_set3.difference(my_set4))

Difference (my_set3- myset4): {1, 2, 3, 5, 6}

### 7️⃣ Create two sets of numbers and print their symmetric difference

In [ ]:
# Your code here

my_set3 = {1,2,3,5,6,7}
my_set4 = {7,8,9,10,11}

print("Symmetric Difference:", my_set3.symmetric_difference(my_set4))

Symmetric Difference: {1, 2, 3, 5, 6, 8, 9, 10, 11}

### 8️⃣ Check if a specific number exists in the set

In [ ]:
# Your code here
my_set3 = {1,2,3,5,6,7}

print("Is 2 in set_a?", 2 in my_set3)

Is 2 in set_a? True

### 9️⃣ Convert a list with duplicate numbers to a set and print it

In [ ]:
# Your code here

my_list = [1,2,3,3,4,5]
print(my_list)
print(set(my_list))

[1, 2, 3, 3, 4, 5]
{1, 2, 3, 4, 5}

### 🔟 Clear all elements from a set and print it

In [ ]:
# Your code here
my_set.clear()
print(my_set)

set()