<a href="https://colab.research.google.com/github/theaichampion/python_tutorials/blob/new_branch-test/python_practice_problems_(1).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python Practice Problems

## 1️⃣ Sum of a List

Write a function `sum_list(numbers)` that returns the sum of all numbers in a list.

In [ ]:
lst=[10,30,50]
# use for loop
#total_sum=0
def sum_list(numbers):
    total_sum =0
    for i in range(0,len(numbers)):
      total_sum =numbers[i]+total_sum # Your code here
    return(total_sum)

print(sum_list(lst))

90

## 2️⃣ Find Maximum

Write a function `find_max(numbers)` that returns the largest number in a list.

In [ ]:
def find_max(numbers):
    #pass  # Your code here
    #return max(numbers)
    largest_num = numbers[0]
    for i in range(0,len(numbers)):
      if largest_num < numbers[i]:
        largest_num = numbers[i]
    return largest_num

numbers=[85,9,10,12,13,15,19,19,100,101]
print(find_max(numbers))

101

## 3️⃣ Count Vowels

Write a function `count_vowels(text)` that returns the number of vowels in a given string.

In [ ]:
def count_vowels(text):
    vowels = "aeiouAEIOU"  # Includes both lowercase and uppercase vowels
    vowel_count = 0
    for char in text:
        if char in vowels:
            vowel_count += 1
    return vowel_count

print(count_vowels('amazing'))

3

## 4️⃣ FizzBuzz

Print the numbers from 1 to 50. For multiples of 3, print 'Fizz'; for multiples of 5, print 'Buzz'; for multiples of both, print 'FizzBuzz'.

In [ ]:
for i in range(1, 51):
    if i % 3 ==0 and i % 5 == 0:
      print(i, 'FizzBuzz')
    if i % 3 == 0:
      print(i, 'Fizz')
    elif i % 5 == 0:
      print(i, 'Buzz')

3 Fizz
5 Buzz
6 Fizz
9 Fizz
10 Buzz
12 Fizz
15 FizzBuzz
15 Fizz
18 Fizz
20 Buzz
21 Fizz
24 Fizz
25 Buzz
27 Fizz
30 FizzBuzz
30 Fizz
33 Fizz
35 Buzz
36 Fizz
39 Fizz
40 Buzz
42 Fizz
45 FizzBuzz
45 Fizz
48 Fizz
50 Buzz

## 5️⃣ Factorial

Write a function `factorial(n)` that returns the factorial of `n`.

In [ ]:
def factorial(n):
    result = 1
    for i in range(1, n + 1):
        result *= i  # Multiply result by the current number
    return result

print(factorial(5))

120

In [ ]:
g=10
def factorial(n):
    g=1
    print(g)
    result = 1
    for i in range(1, n + 1):
        result *= i  # Multiply result by the current number
    return result

print(factorial(5))
print(g)

1
120
10

## 6️⃣ Palindrome Checker

Write a function `is_palindrome(word)` that returns `True` if `word` is a palindrome, `False` otherwise.

In [ ]:
def is_palindrome(word):
  #  pass  # Your code here
  rev_sentence=word[::-1]
  if word == rev_sentence:
    return True
  else:
    return False

print(is_palindrome("racecars"))

False

## 7️⃣ Unique Elements

Write a function `unique_elements(lst)` that returns a new list with only the unique elements of the input list.

In [ ]:
def unique_elements(lst):
    pass  # Your code here

## 8️⃣ Fibonacci Sequence

Write a function `fibonacci(n)` that returns a list of the first `n` Fibonacci numbers.

In [ ]:
def fibonacci(n):
    pass  # Your code here

## 9️⃣ Reverse a String

Write a function `reverse_string(text)` that returns the reversed version of the string.

In [ ]:
def reverse_string(text):
    # return text.reverse() # Incorrect, reverse() is for lists
    return text[::-1] # Correct way to reverse a string using slicing

print(reverse_string('copy')) # Added parentheses around the argument

ypoc

## 🔟 Dictionary Merge

Given two dictionaries, merge them into one dictionary.

In [ ]:
dict1 = {"a": 1, "b": 2}
dict2 = {"b": 3, "c": 4}


#for i in range(len(dict2)):
#  dict1.append(dict2[i])
dict1.update(dict2)

print(dict1)

{'a': 1, 'b': 3, 'c': 4}