<a href="https://colab.research.google.com/github/theaichampion/python_tutorials/blob/main/Python_Challenge_Quiz_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# ðŸ§  Python Challenge Quiz
This challenge-style quiz will test your ability to write Python code covering:
- Variables, Data Types
- Conditionals and Loops
- Functions and Scope
- Lists, Dictionaries, Tuples, Sets

âœ… **Instructions:**
- Complete each task below in the code cell.
- Use test cases to verify your logic.
- You may use built-in functions but not external libraries.

## 1. Syntax, Variables, and Data Types

**Q1.1** Create a function `evaluate_expression(a, b, op)` that takes two numbers and a string operator (`'+', '-', '*', '/'`) and returns the result.

**Test cases:**
```python
evaluate_expression(10, 2, '*') âžž 20
evaluate_expression(8, 4, '+') âžž 12
```

In [ ]:
# Your code here
def evaluate_expression(a,b,op):
  if op == "+":
    return(a+b)
  elif op == "-":
    return (a-b)
  elif op == "*":
    return (a*b)
  elif op == ("/"):
    return(a/b)


evaluate_expression(10, 2, '*')
evaluate_expression(8, 4, '+')

12

## 2. Conditionals and Loops

**Q2.1** Write a function `fizz_buzz(n)` that prints numbers from 1 to `n`. For multiples of 3, print `'Fizz'`; for multiples of 5, print `'Buzz'`; for both, print `'FizzBuzz'`.

**Test case:**
```python
fizz_buzz(15)
# Expected: 1, 2, Fizz, 4, Buzz, Fizz, ..., FizzBuzz
```

In [ ]:
# Your code here
def fizz_buzz(x):
  for i in range(1, x):
    if i % 3 ==0 and i % 5 == 0:
      print(i, 'FizzBuzz')
    if i % 3 == 0:
      print(i, 'Fizz')
    elif i % 5 == 0:
      print(i, 'Buzz')


fizz_buzz(15)

3 Fizz
5 Buzz
6 Fizz
9 Fizz
10 Buzz
12 Fizz

**Q2.2** Write a function `count_digits_while(n)` that counts how many digits are in an integer using a `while` loop.

**Test cases:**
```python
count_digits_while(1234) âžž 4
count_digits_while(9) âžž 1
```

In [ ]:
# Your code here
def count_digits_while(n):
  count = 0

  while n > 1:
    n = n/10
    count += 1
  return count

"""abs_n = abs(n)
  if type(abs_n) == float:
    n_strg = str(abs_n)
    n_strgfind = n_strg.find(".")
    return(n_strgfind)
  else:
    n_strg = str(abs_n)
    return len(n_strg)"""
 #count = 0



count_digits_while(1234.5)

4

## 3. Functions and Scope

**Q3.1** Define a function `is_palindrome(word)` that returns `True` if `word` is a palindrome.

**Test cases:**
```python
is_palindrome('level') âžž True
is_palindrome('python') âžž False
```

In [ ]:
# Your code here
def is_palindrome(word):
  rev_sentence=word[::-1]
  if word == rev_sentence:
    return True
  else:
    return False

is_palindrome('level')

True

**Q3.2** Write a function `factorial(n)` that returns the factorial of `n` using recursion.

**Test cases:**
```python
factorial(5) âžž 120
factorial(0) âžž 1
```

In [ ]:
# Your code here
def factorial(n):
  result = 1
  for i in range(1, n + 1):
    result *= i
  return result

factorial(5)

120

## 4. Lists, Dictionaries, Tuples, and Sets

**Q4.1** Write a function `reverse_list(lst)` that returns a new list with elements in reverse order.

**Test case:**
```python
reverse_list([1, 2, 3, 4]) âžž [4, 3, 2, 1]
```

In [ ]:
# Your code here
def reverse_list(lst):
  #return lst[::-1]
  lst.reverse()
  return lst


print(reverse_list([1, 2, 3, 4]))

[4, 3, 2, 1]

**Q4.2** Write a function `merge_dicts(d1, d2)` that merges two dictionaries. If keys overlap, values from `d2` should overwrite.

**Test case:**
```python
merge_dicts({'a': 1}, {'a': 3, 'b': 2}) âžž {'a': 3, 'b': 2}
```

In [ ]:
# Your code here
def merge_dicts(d1, d2):
  merged_dict = d1.copy()
  merged_dict.update(d2)   # Update with d2, which overwrites overlapping keys
  return merged_dict

merge_dicts({'a': 1}, {'a': 3, 'b': 2})

{'a': 3, 'b': 2}

**Q4.3** Write a function `unique_values(lst)` that returns a set of unique values from a list.

**Test case:**
```python
unique_values([1, 2, 2, 3, 3, 3]) âžž {1, 2, 3}
```

In [ ]:
# Your code here
def unique_values(lst):
  return set(lst)

unique_values([1, 2, 2, 3, 3, 3])

{1, 2, 3}

**Q4.4** Write a function `unpack_tuple(t)` that takes a tuple of 3 elements and prints each value on a new line.

**Test case:**
```python
unpack_tuple(('red', 'green', 'blue'))
# Expected:
# red
# green
# blue
```

In [ ]:
# Your code here
my_tuple= ('red','green','blue')
def unpack_tuple(t):
  #interate over tuple
  #print tuple item
  #end loop when completed interation
  a,b,c =  my_tuple
  return (a,b,c)

unpack_tuple(my_tuple)

('red', 'green', 'blue')