<a href="https://colab.research.google.com/github/theaichampion/python_tutorials/blob/new_branch-test/python_dict_lesson.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python Lesson: Dictionary

In this lesson, you'll learn:

- What is a Dictionary?
- How to create and use a Dictionary
- Dictionary methods and operations
- Practice Exercises

In [ ]:
my_set={1,2,3} # does not allow duplicates # unorder
my_dict={'A1':2,"A2":5} # unorder

my_tuple=(1,2) #order , unmutable

## What is a Dictionary?
- A dictionary is an **unordered** collection of key-value pairs.
- Each key must be **unique**.
- Dictionaries are **mutable** (can change their contents).
- Syntax: `{key: value}`

### Creating a Dictionary

In [ ]:
my_dict = {"name": "Alice", "age": 25, "city": "Alex","city": "Cairo"}
print("my_dict:", my_dict)

my_dict: {'name': 'Alice', 'age': 25, 'city': 'Cairo'}

### Accessing Values

In [ ]:
print("Name:", my_dict["name"])
print("Age:", my_dict["age"])

Name: Alice
Age: 25

### Adding or Updating Values

In [ ]:
my_dict["age"] = 26
my_dict["country"] = "Egypt"
print("Updated my_dict:", my_dict)

Updated my_dict: {'name': 'Alice', 'age': 26, 'city': 'Cairo', 'country': 'Egypt'}

### Removing a Key-Value Pair

In [ ]:
del my_dict["city"]
print("After deletion:", my_dict)

After deletion: {'name': 'Alice', 'age': 26, 'country': 'Egypt'}

### Using `get()` Method (safe access)

In [ ]:
print("Country:", my_dict.get("country"))

Country: Egypt

In [ ]:
print("Country:", my_dict.get("countryWJBJHvjh "))

Country: None

In [ ]:
my_dict

{'name': 'Alice', 'age': 26, 'country': 'Egypt'}

In [ ]:

print("City:", my_dict.get("city", "Not found"))

City: Not found

### Iterating Over Dictionary

In [ ]:
for x,y in my_dict.items():
    print(x, "->", y)

name -> Alice
age -> 26
country -> Egypt

In [ ]:
for key in my_dict.keys():
    print(key)

name
age
country

In [ ]:
for value in my_dict.values():
    print( value)

Alice
26
Egypt

### Dictionary Keys, Values, and Items

In [ ]:
print("Keys:", my_dict.keys())
print("Values:", my_dict.values())
print("Items:", my_dict.items())

Keys: dict_keys(['name', 'age', 'country'])
Values: dict_values(['Alice', 26, 'Egypt'])
Items: dict_items([('name', 'Alice'), ('age', 26), ('country', 'Egypt')])

### Checking Key Membership

In [ ]:
print("Is 'name' a key?", "name" in my_dict)
print("Is 'city' a key?", "city" in my_dict)

Is 'name' a key? True
Is 'city' a key? False

In [ ]:
print("name" and "age" in my_dict)

True

In [ ]:
print(my_dict["name"], my_dict["age"])

Alice 26

## Why use Dictionary?
- Efficient for fast lookup
- Great for representing structured data (e.g., user profiles)
- Flexible and dynamic

## Exercises

### 1Ô∏è‚É£ Create a dictionary with keys: `name`, `age`, `city`

In [ ]:
# Your code here
my_dictionary = {"name":"ben","age":49,"city":"Chicago"}
print(my_dictionary)

{'name': 'ben', 'age': 49, 'city': 'Chicago'}

### 2Ô∏è‚É£ Access and print the value of `city`

In [ ]:
# Your code here
print(my_dictionary["city"])

Chicago

### 3Ô∏è‚É£ Add a new key `hobby` with a value

In [ ]:
# Your cod
my_dictionary["hobby"] = "cycling"
print(my_dictionary)

{'name': 'ben', 'age': 49, 'city': 'Chicago', 'hobby': 'cycling'}

### 4Ô∏è‚É£ Update the value of `age`

In [ ]:
# Your code here
my_dictionary["age"] = 50
print(my_dictionary)

{'name': 'ben', 'age': 50, 'city': 'Chicago', 'hobby': 'cycling'}

### 5Ô∏è‚É£ Remove the key `city` from the dictionary

In [ ]:
# Your code here
del my_dictionary["city"]
print(my_dictionary)

{'name': 'ben', 'age': 50, 'hobby': 'cycling'}

### 6Ô∏è‚É£ Use `get()` to access a key that does not exist

In [ ]:
# Your code here

check_if_there = my_dictionary.get("county", "not there")
print(check_if_there)

not there

### 7Ô∏è‚É£ Iterate over the dictionary and print all keys and values

In [ ]:
# Your code here
for key, value in my_dictionary.items():
  print(key,value)

name ben
age 50
hobby cycling

### 8Ô∏è‚É£ Print all dictionary keys

In [ ]:
# Your code here
print(my_dictionary.keys())

dict_keys(['name', 'age', 'hobby'])

### 9Ô∏è‚É£ Check if `name` key exists in the dictionary

In [ ]:
# Your code here
print(my_dictionary.get("countryWJBJHvjh", "Not in dictionary"))

Not in dictionary

### üîü Clear the dictionary

In [ ]:
# Your code here
my_dictionary.clear()